<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>P@-Card | Login</title>
    <link href="../../css/stylesheet.css" rel="stylesheet">
  </head>
  <body>
    <div id="main">

      <div class="login-form">

        <div class="login-content">

          <form action="" method="" id="form-login" class="validate">

                <input type="text" class="form-control" name="username"
                       id="username" placeholder="Username" autocomplete="off" data-validate="required"
                       data-message-required="Username is required" />

                <input type="password" class="form-control" name="password"
                       id="password" placeholder="Password" autocomplete="off" data-validate="required"
                       data-message-required="Password is required" />

            <div class="form-group">
              <button type="submit">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
