<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>P@-Card | Pet Info</title>
  <link href="../../css/stylesheet.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script> // to use jsPDF for registring pdf file
</head>
<body>
<h1>Pet Info</h1>

    <form #f="ngForm">
      <div class="form-group">
        <!--<label>ID</label>-->
        <input [(ngModel)]="id"
               name="id"
               type="number"
               asyncId
               pattern="[0-9]{1,4}"
               class="form-control"
               placeholder="Enter the provided Pet-ID to search the Database!"
               data-validate="number"
               required>
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="!f?.controls?.id?.valid && f?.controls?.id?.dirty == true">

        <div *ngIf="f?.controls?.id?.hasError('asyncId')">
          <b>Bitte geben sie eine ID > 1 ein!</b>
        </div>
        <div *ngIf="f?.controls?.id?.hasError('pattern')">
          <b>Bitte geben Sie eine ID zwischen 1 & 9999 ein!</b>
        </div>
        <div *ngIf="f?.controls?.id?.hasError('required')">
          <b>Bitte geben Sie eine ID ein!</b>
        </div>

      </div>

      <div class="form-group">
        <button [disabled]="!f?.controls?.id?.valid" type="button" class="btn btn-success" (click)="search()">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><strong>Search</strong>
        </button>
      </div>
    </form>


    <div id="pet-info" *ngIf="pet">
      <h2>General information:</h2>
      <div class="general row">
        <div class="pet col-md-4">
          <h3>Pet</h3>
          <b>ID:</b> {{pet.id}}<br />
          <b>Name:</b> {{pet.name}}<br />
          <b>Type:</b> {{pet.type}}<br />
          <b>Weight: </b> {{pet.weight}}<br />
          <b>Birthdate: </b> {{pet.birthDate}}
        </div>
        <div class="owner col-md-4">
          <h3>Owner</h3>
          <b>Name:</b> {{petOwner.firstName}} {{petOwner.lastName}}<br />
          <b>Address:</b> {{petOwner.address}}<br />
          <b>Phone:</b> {{petOwner.phone}}<br />
          <b>E-Mail:</b> {{petOwner.email}}
        </div>
        <div class="doctor col-md-4">
          <h3>Doctor</h3>
          <b>Name: </b> Dr. {{doctor.firstName}} {{doctor.lastName}}<br />
          <b>Email:</b> {{doctor.email}}<br />
          <b>Phone:</b> {{doctor.phone}}<br />
          <b>Address:</b> {{doctor.address}}<br />
          <b>Office hours:</b> {{doctor.officeHours}}
        </div>



        <div class="form-group icononly">
          <button type="button" class="btn btn-danger" (click)="delete()">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-danger" (click)="pdf()">
            <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
          </button>
        </div>
      </div>

      <h2>Diseases:</h2>
      <div class="diseases row">

        <div class="col-md-12" *ngFor="let pd of diseases | zip:petDiseases">
          <h3>{{pd.name}}</h3>
          <i>{{pd.description}}</i><br />
          <b>Begin: </b> {{pd.diseaseStart}}<span *ngIf="pd.diseaseEnd"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>End:</b> {{pd.diseaseEnd}}</span><br />
          <div class="icononly">
          <button type="button" class="btn btn-success" [routerLink]="['/editDisease']" [queryParams]="{diseaseId:pd.id}">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
          </button>
          </div>
        </div>

        <div class="form-group icononly">
        <button type="button" class="btn btn-success" [routerLink]="['/addDisease']">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
        </div>
      </div>

      <h2>Medication:</h2>
      <div class="medications row">
        <div class="col-md-12" *ngFor="let pm of medications | zip:petMedications">
          <h3>{{pm.name}}</h3>
          <i>{{pm.description}}</i><br />
          <b>Dose:</b> {{pm.dose}} <br />
          <b>Begin: </b> {{pm.issueDate}}<span *ngIf="pm.endDate">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>End:</b> {{pm.endDate}}</span><br />
        </div>
        <div class="form-group icononly">
          <button type="button" class="btn btn-success" [routerLink]="['/addMedication']">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>

    </div>



</body>
</html>
