<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>P@-Card | Pet Info</title>
      <link href="../../css/stylesheet.css" rel="stylesheet">
  </head>
  <body>
    <h1>Pet Info</h1>



    <form #p="ngForm" novalidate>
      <div class="form-group">
        <label>ID</label>
        <input [(ngModel)]="id"
        name="id">
      </div>
      <div class="form-group">
        <button class="btn" (click)="search()">Suchen</button>
      </div>
    </form>


    <table class="table table-striped">
      <tr *ngFor="let p of pets">
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.type}}</td>
        <td>{{p.weight}}</td>
      </tr>
    </table>


  </body>
</html>
