<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>P@-Card | Pet Info</title>
  <link href="../../css/stylesheet.css" rel="stylesheet">
</head>
<body>
<h1>Pet Info</h1>

    <form #f="ngForm">
      <div class="form-group">
        <!--<label>ID</label>-->
        <input [(ngModel)]="id"
               name="id"
               type="number"
               asyncId
               pattern="[0-9]{1,4}"
               class="form-control"
               placeholder="Enter the provided Pet-ID to search the Database!"
               data-validate="number"
               required>
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="!f?.controls?.id?.valid">

        <div *ngIf="f?.controls?.id?.hasError('asyncId')">
          <b>Bitte geben sie eine ID > 1 ein!</b>
        </div>
        <div *ngIf="f?.controls?.id?.hasError('pattern')">
          <b>Bitte geben Sie eine ID zwischen 1 & 9999 ein!</b>
        </div>
        <div *ngIf="f?.controls?.id?.hasError('required')">
          <b>Bitte geben Sie eine ID ein!</b>
        </div>
      </div>

      <div class="form-group">
        <button [disabled]="!f?.controls?.id?.valid" type="button" class="btn btn-success" (click)="search()">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><strong>Search</strong>
        </button>
      </div>
    </form>


    <div id="pet-info" *ngIf="pet">
      <h2>General information:</h2>
      <div class="general row">
        <div class="pet col-md-4">
          <h3>Pet</h3>
          <b>ID:</b> {{pet.id}}<br />
          <b>Name:</b> {{pet.name}}<br />
          <b>Type:</b> {{pet.type}}<br />
          <b>Weight: </b> {{pet.weight}}<br />
          <b>Birthdate: </b> {{pet.birthDate}}
        </div>
        <div class="owner col-md-4">
          <h3>Owner</h3>
          <b>Name:</b> {{petOwner.firstName}} {{petOwner.lastName}}<br />
          <b>Address:</b> {{petOwner.address}}<br />
          <b>Phone:</b> {{petOwner.phone}}<br />
          <b>E-Mail:</b> {{petOwner.email}}
        </div>
        <div class="doctor col-md-4">
          <h3>Doctor</h3>
          <b>Name: </b> Dr. {{doctor.firstName}} {{doctor.lastName}}<br />
          <b>Email:</b> {{doctor.email}}<br />
          <b>Phone:</b> {{doctor.phone}}<br />
          <b>Address:</b> {{doctor.address}}<br />
          <b>Office hours:</b> {{doctor.officeHours}}
        </div>



        <div class="form-group icononly">
          <button type="button" class="btn btn-success" (click)="edit()">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-danger" (click)="delete()">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-success">
            <a routerLink="/addMedication"><span class="glyphicon glyphicon-search" aria-hidden="true"></span><strong>Med</strong></a>
          </button>
        </div>
      </div>

      <h2>Diseases:</h2>
      <div class="diseases row">
        <div *ngFor="let d of diseases; let pd of petDiseases">
          <b>Name:</b> {{d.name}}<br />
          <b>Description:</b> {{d.description}}<br />
          <b>Duration: </b> {{pd.diseaseStart}}<span *ngIf="pd.diseaseEnd"> - {{pd.diseaseEnd}}</span><br />
            <button type="button" class="btn btn-success">
              <a routerLink="/editDisease"><span class="glyphicon glyphicon-wrench"></span>EDIT</a>
            </button>
        </div>
        <div class="form-group icononly">
        <button type="button" class="btn btn-success">
          <a routerLink="/addDisease"><span class="glyphicon glyphicon-plus"></span></a>
        </button>
        </div>
      </div>

      <h2>Medication:</h2>
      <div class="medications row">
        <p *ngFor="let m of medications">
          <b>Name:</b> {{m.name}}<br />
          <b>Description:</b> {{m.description}}<br />
        </p>
        <p *ngFor="let pm of petMedications">
          <b>Dose:</b> {{pm.dose}} <br />
          <b>Duration: </b> {{pm.issueDate}}<span *ngIf="pm.endDate"> - {{pm.endDate}}</span><br />
          <button type="button" class="btn btn-success" (click)="edit()">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><strong>Edit</strong>
          </button>
        </p>
        <div class="form-group icononly">
          <button type="button" class="btn btn-success">
            <a routerLink="/addMedication"><span class="glyphicon glyphicon-plus"></span></a>
          </button>
        </div>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-success" (click)="report()">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><strong>Generate report (PDF)</strong>
        </button>
      </div>
    </div>



</body>
</html>
