<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>P@-Card | Add a User</title>
    <link href="../../css/stylesheet.css" rel="stylesheet">
  </head>
  <body>

    <h1>Add User</h1>

    <!-- ####################################################################################################### -->
    <!-- ADD USER FORM -- firstname, lastname, address, phone, email -->


            <form role="form"
                  class="form-horizontal form-groups-bordered validate"
                  method="post" action="">

              <!--
              <input type="hidden" name="${_csrf.parameterName}"
                     value="${_csrf.token}" />
              -->

              <div >
                <label>Firstname</label>

                <div>
                  <input type="text" class="form-control" name="firstname"
                         placeholder="e.g. John" data-validate="maxlength[30]"
                         required />
                </div>
              </div>

              <br>

              <div>
                <label>Lastname</label>

                <div>
                  <input type="text" class="form-control" name="lastName"
                         placeholder="e.g. Doe" data-validate="maxlength[30]"
                         required />
                </div>
              </div>

              <br>

              <div>
                <label>E-Mail</label>

                <div>
                  <input type="email" class="form-control" name="email"
                         placeholder="e.g. jdoe@petcard.at"
                         data-validate="maxlength[80]" required />
                </div>
              </div>

              <br>

              <div >
                <label>Address</label>

                <div>
                  <input type="text" class="form-control" name="address"
                         placeholder="e.g. Petstreet 1" data-validate="maxlength[30]"
                         required />
                </div>
              </div>

              <br>

              <div >
                <label>Phone</label>

                <div>
                  <input type="text" class="form-control" name="phone"
                         placeholder="e.g. 0660123456789" data-validate="maxlength[30]"
                         required />
                </div>
              </div>

              <br>

              <div >
                <div>
                  <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><strong>Create</strong>
                  </button>
                  <button type="button" class="btn btn-danger">
                    <strong><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Exit</strong> <!-- &nbsp; x2-->
                  </button>
                </div>
              </div>
            </form>
  </body>
</html>
