<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>P@-Card | Add Disease</title>
  <link href="../../css/stylesheet.css" rel="stylesheet">
</head>
<body>
<h1>Add Disease</h1>

<!-- ####################################################################################################### -->
<!-- ADD DISEASE FORM -- diseaseStart, diseaseEnd -->


<!-- submit triggers forwarding using the goTo method -->
<!-- using ngSubmit, the add method is called -->

<form #f="ngForm"
      role="form"
      (submit)="add()"
      class="form-horizontal form-groups-bordered validate"
      method="post" action="">

  <div class="form-group">
    <label>Disease</label>

    <div>
      <select [(ngModel)]="diseaseId" class="form-control" required name="disease">
        <option *ngFor="let d of allDiseases" [value]="d.id">{{d.name}}</option>
      </select>
    </div>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="!f?.controls?.disease?.valid && f?.controls?.disease?.dirty == true">
    <b>Please pick a disease!</b>
  </div>

  <div class="form-group">
    <label>Disease Start</label>

    <div>
      <input [(ngModel)]="diseaseStart" type="date" class="form-control" name="diseaseStart"
             placeholder="e.g. 01.01.2000" data-validate="maxlength[30]"
             required />
    </div>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="!f?.controls?.diseaseStart?.valid && f?.controls?.diseaseStart?.dirty == true">
    <b>Please enter a Start Date!</b>
  </div>

  <div class="form-group">
    <label>Disease End</label>

    <div>
      <input [(ngModel)]="diseaseEnd" type="date" class="form-control" name="diseaseEnd"
             validateIsAfter="diseaseStart" placeholder="e.g. 01.01.2000" data-validate="maxlength[30]" />
    </div>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="!f?.controls?.diseaseEnd?.valid && f?.controls?.diseaseEnd?.dirty == true">
  <b>End Date has to be after Start Date</b>
  </div>

  <div class="form-group">
      <button type="submit" class="btn btn-success" [disabled]="!f?.valid">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><strong>Add</strong>
      </button>
  </div>

</form>
</body>
</html>
