<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>P@-Card | Add Medication</title>
    <link href="../../css/stylesheet.css" rel="stylesheet">
  </head>
  <body>
    <h1>Add Medication</h1>

    <!-- ####################################################################################################### -->
    <!-- ADD MEDICATION FORM -- dose, issueDate, endDate -->


    <form role="form"
          (ngSubmit)="add()"
          (submit)="goTo('petInfo')"
          class="form-horizontal form-groups-bordered validate"
          method="post" action="">

      <div class="select_medication">
        <label>Medication</label>

        <div>
          <select [(ngModel)]="medicationId" class="form-control" required name="medication">
            <option *ngFor="let m of medications" [value]="m.id">{{m.name}}</option>
          </select>
        </div>
      </div>

      <div>
        <label>Dose</label>
        <div>
          <input [(ngModel)]="dose" type="text" class="form-control" name="dose"
                 placeholder="e.g. 50mg" data-validate="maxlength[30]"
                 required />
        </div>
      </div>

      <br>

      <div>
        <label>Issue Date</label>

        <div>
          <input [(ngModel)]="issueDate" type="date" class="form-control" name="issuedate"
                 placeholder="e.g. 01.01.2000" data-validate="maxlength[30]"
                 required />
        </div>
      </div>

      <br />

      <div>
        <label>End Date</label>

        <div>
          <input [(ngModel)]="endDate" type="date" class="form-control" name="enddate"
                 placeholder="e.g. 01.01.2000" data-validate="maxlength[30]"
                 required />
        </div>
      </div>

      <br />

      <div >
        <div>
          <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><strong>Add</strong>
          </button>
        </div>
      </div>

    </form>
  </body>
</html>
