<link href="../css/stylesheet.css" rel="stylesheet">
<div [hidden]="loginpage" class="header-container">
  <header class="wrapper clearfix">
    <nav class="navbar navbar-default">
      <a class="navbar-brand" routerLink="/home"><img src="../img/logo.png" class="logo" alt="p@-card"/></a>
      <ul class="nav navbar-nav">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/petInfo">Search Pet</a></li>
        <li><a routerLink="/addPet">Add Pet</a></li>
        <li><a routerLink="/addOwner">Add Pet Owner</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="nav_profile"><a routerLink="/profile">Profile <span class="glyphicon glyphicon-user"></span></a></li>
        <li><a (click)="logout()" href="javascript:void()">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>

      </ul>
    </nav>
  </header>
</div>

<div class="main-container">
  <div class="main wrapper clearfix">

    <main class="container">
      <router-outlet></router-outlet>
    </main>

  </div> <!-- #main -->
</div> <!-- #main-container -->

<div [hidden]="loginpage" class="footer-container">
  <footer class="wrapper">

    <p><strong> FH Joanneum | IMA | SWENGS | </strong> Michael Fuchs, Nina Spalek, Max Wageneder </p>

  </footer>
</div>
