<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>P@-Card | Edit Pet</title>
    <link href="../../css/stylesheet.css" rel="stylesheet">
  </head>
  <body>
    <h1>Edit Pet</h1>

    <!-- ####################################################################################################### -->
    <!-- ADD PET FORM -- name, race, weight, birthdate -->

    <!-- submit triggers forwarding using the goTo method -->
    <!-- using ngSubmit, the add method is called -->

    <form #f="ngForm"
          role="form"
          (submit)="save()"
          class="form-horizontal form-groups-bordered validate"
          method="post" action="">

      <div class="form-group">
        <label>Name</label>
        <div>
          <input [(ngModel)]="pet.name" type="text" class="form-control" name="name"
                 placeholder="e.g. Cookie" data-validate="maxlength[30]"
                 required />
        </div>
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="!f?.controls?.name?.valid && f?.controls?.name?.dirty == true">
        <b>Please enter a name!</b>
      </div>

      <div class="form-group">
        <label>Weight (kg)</label>

        <div>
          <input [(ngModel)]="pet.weight" type="number" class="form-control" name="weight"
                 placeholder="e.g. 5"
                 data-validate="maxlength[10]" required />
        </div>
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="!f?.controls?.weight?.valid && f?.controls?.weight?.dirty == true">
        <b>Please enter a weight!</b>
      </div>

      <div class="select_owner form-group">
        <label>Owner</label>

        <div>
          <select [(ngModel)]="ownerId" class="form-control" required name="doctor">
            <option *ngFor="let o of allPetOwners" [value]="o.id" [selected]="ownerId">{{o.firstName}} {{o.lastName}}</option>
          </select>
        </div>
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="!f?.controls?.owner?.valid && f?.controls?.owner?.dirty == true">
        <b>Please select an owner!</b>
      </div>

      <div class="select_doctor form-group">
        <label>Doctor</label>

        <div>
          <select [(ngModel)]="doctorId" class="form-control" required name="doctor">
            <option *ngFor="let d of allDoctors" [value]="d.id" [selected]="doctorId">{{d.firstName}} {{d.lastName}}</option>
          </select>
        </div>
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="!f?.controls?.doctor?.valid && f?.controls?.doctor?.dirty == true">
        <b>Please select a doctor!</b>
      </div>

      <div class="form-group">
        <div>
          <button type="submit" class="btn btn-success" [disabled]="!f?.valid">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><strong>Save</strong>
          </button>
        </div>
      </div>

    </form>
  </body>
</html>
