<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>P@-Card | Home</title>
    <link href="../../css/stylesheet.css" rel="stylesheet">
  </head>
  <body>
    <h1>Dr. {{givenName}}'s Office</h1>

  <div id="doctorpanels">

    <h3>Edit your Doctor's Profile</h3>
    <div class="doctorpanel">
      <p>
        Allows you to change your office hours and other details about yourself.
      </p>
      <button type="button" class="btn btn-success" [routerLink]="['/profile']">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span><strong>change office details</strong>
      </button>
    </div>

    <h3>Search Pet</h3>
    <div class="doctorpanel">
      <p>
        Search a pet by it's unique ID.
      </p>
        <div class="form-group">
          <!--<label>ID</label>-->
          <!--<input [(ngModel)]="id" name="id" type="text" class="form-control" placeholder="ID" data-validate="number" required>-->
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success" [routerLink]="['/petInfo']">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span><strong>look for pet</strong>
          </button>
        </div>
    </div>

    <h3>Add new pet</h3>
    <div class="doctorpanel">
      <p>
        Add a new pet to the database.
      </p>
      <button type="button" class="btn btn-success" [routerLink]="['/addPet']">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><strong>add new pet</strong>
      </button>
    </div>

  </div>

  </body>
</html>
