<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>P@-Card | Home</title>
    <link href="../../css/stylesheet.css" rel="stylesheet">
  </head>
  <body>
    <h1>Dr. {{givenName}}'s Office</h1>

  <div id="doctorpanels">

    <div class="profile col-md-6 col-lg-3">
      <h3>Edit your Profile</h3>
      <div class="doctorpanel">
        <p>
          Change your profile and office hours.
        </p>
        <button type="button" class="btn btn-success" [routerLink]="['/profile']">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span><strong>Change Profile</strong>
        </button>
      </div>

    </div>
    <div class="owner col-md-6 col-lg-3">
      <h3>Search Pet</h3>
      <div class="doctorpanel">
        <p>
          Search a pet by it's unique ID.
        </p>
            <button type="button" class="btn btn-success" [routerLink]="['/petInfo']">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span><strong>Search Pet</strong>
            </button>
      </div>
    </div>

    <div class="doctor col-md-6 col-lg-3">
      <h3>Add Pet</h3>
      <div class="doctorpanel">
        <p>
          Add a new pet to the database.
        </p>
        <button type="button" class="btn btn-success" [routerLink]="['/addPet']">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><strong>Add Pet</strong>
        </button>
      </div>
    </div>

    <div class="owner col-md-6 col-lg-3">
      <h3>Add Pet-Owner</h3>
      <div class="doctorpanel">
        <p>
          Add a new Pet-owner to the database.
        </p>
        <button type="button" class="btn btn-success">
          <a routerLink="/addOwner"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><strong>Add Pet-Owner</strong></a>
        </button>
      </div>
    </div>

  </div>

  </body>
</html>
